<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF=8' />
  <title>Struggling with BookMark</title>
</head>
<body>
 
  <h1> BookMark Home Page </h1>
  <%= session %>

  <% if current_user %>
    Welcome, <%= current_user.email %>
  <% end %>

  <%= yield %>
 
 
</body>
</html>